body {
    background: white;
}

img {
    max-width: 100%;
}

.btn-warning {
    color: black;
}

.btn {
    font-weight: 600;
}

.btn-primary {
    background-color: #412D4E;
    border-color: #412D4E;
}

.custom-purple {
    background-color: #412D4E;
    color: white;
}

.custom-purple:hover {
    background-color: #261b2e; 
    color: white
  }

.form-check {
    margin-bottom: 20px
}

p .card-text {
    font-size: 16px;
    line-height: 24px;
}

h4 {
    margin-bottom: 20px;
}

.form-check-input:checked {
    background-color: #412D4E; 
    border-color: #412D4E; 
}

.card {
    border-bottom: 16px solid #412D4E;
    box-shadow: 0px 0px 10px rgba(20, 20, 20, 0.08);
}

#formatlabel {
    font-weight: 600;
}

.card-body {
    padding-left: 30px;
}

.badge {
    font-weight: 400;
}

.fixed-container {
    position: sticky;
    top: 40px;
}

label {
    cursor: pointer;
}

/** improve the colors of the pagination buttons */
.pagination > li > a,
.pagination > li > span {
    background-color: #412D4E;
    color: white;
}

.pagination > li > a:hover,
.pagination > li > span:hover {
    background-color: #261b2e;
    color: white;
}

.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
    background-color: #333;
    border-color: #333;
    color:#eee;
}

.page-item.active .page-link {
    z-index: 1;
    color: #412D4E;
    background-color: #eee;
    border-color: #eee;
}

#random_featured {
    /** yellow rounded border */
    border: 5px solid #F9D423;
    border-radius: 10px;
    padding:20px;
}

/** improve the colors of the pagination buttons */



@media (max-width: 767px) {
    
    .audio-player {
        margin-left: 30px;
        margin-bottom: 30px;
    }

    img {
        margin-left: 30px;
        margin-bottom:30px;
    }
    
}


#results-wrap h6, #random_featured h6 {
    font-weight: bold;
    font-style: italic;
}